/* common css start */

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 1340px;
  margin: 0 auto;
}
body {
  position: relative;
}

.title {
  text-align: center;
}
.title .sort-title {
  color: #289bde;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
}
.title h2 {
  color: #071b27;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.title .title-descript {
  color: #666;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  max-width: 620px;
  margin: 0 auto;
}
.aboutheading {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* common css end */

/* nav start */
#nav {
  padding: 13px 0;
  background: #071b27;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
#nav .navwraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .navwraper .logo a {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
#nav .navwraper .navigator .navlist {
  display: flex;
  gap: 30px;
}
#nav .navwraper .navigator .navlist li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  transition: 0.4s;
}
#nav .navwraper .navigator .navlist li a:hover {
  color: #289bde;
}
#nav .navwraper .navbtn {
  display: flex;
  column-gap: 18px;
}
#nav .navwraper .navbtn select {
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 9px 15px;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 110px;
}
#nav .navwraper .navbtn select option {
  background-color: #071b27;
  border: none;
}
#nav .navwraper .navbtn a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding: 8px 45px;
  border-radius: 5px;
  background: #289bde;
}
#nav .navcollapse{
  width: 20%;
  height: 100vh;
  background-color: #071b27;
  border-left: 1px solid #ffffff;
  position: absolute;
  top: 0;
  right: -25%;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav .navcollapse .close{
  width: 50px;
  align-self: flex-start;
  margin: 15px 0 0 15px;
}
#nav .navcollapse .profile{
  margin-top: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#nav .navcollapse .collapselist{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-top: 70px;
}
#nav .navcollapse .collapselist li a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  transition: 0.4s;
}
#nav .navcollapse .collapselist li a:hover{
  color: #289bde;
}

/* nav end */

/* banner start */
#banner {
  padding: 277px 0 350px;
  background-color: #071b27;
  text-align: center;
  position: relative;
}
#banner .bannerimoji{
  position: relative;
}
#banner .bannerimoji img{
  position: absolute;
  top: 0;
  left: -15%;
}
#banner p {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#banner h1 {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 1100px;
  margin: 0 auto;
}
#banner .bnr-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
#banner .bnr-btn a {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 20px 30px;
  transition: 0.4s;
}
#banner .bnr-btn a:hover {
  background-color: #289bde;
  color: #fff;
  border-color: #289bde;
}
#banner .bnr-img {
  position: relative;
}
#banner .bnr-img img {
  width: 100%;
  position: absolute;
  bottom: -660px;
  left: 0%;
}
/* banner end */

/* about start */
#about {
  padding: 387px 0 140px;
}
#about .about-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 78px;
}
#about .about-box .item {
  display: flex;
  justify-content: space-between;
  gap: 97px;
}
#about .about-box .item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
#about .about-box .item .text h3 {
  color: #07003b;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#about .about-box .item .text p {
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  margin-top: 10px;
  max-width: 717px;
}
#about .about-box .item .text p mark {
  color: #289bde;
  background-color: transparent;
}
#about .about-box .item .img {
  display: flex;
  justify-content: end;
}
#about .about-box .item:nth-child(2) {
  flex-direction: row-reverse;
}
#about .about-box .item:nth-child(2) .text p {
  max-width: 750px;
}
#about .about-box .item:nth-child(3) .text p {
  max-width: 682px;
}
/* about end */

/* service start */
#service {
  padding: 157px 0 156px;
  background: #071b27;
}
#service .serv-title p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
#service .serv-title h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#service .service-box {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}
#service .service-box .item {
  flex-grow: 1;
  padding: 40px;
  border-radius: 8px;
  border: 1px solid transparent;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}
#service .service-box .item a {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: 44px;
}
#service .service-box .item h3 a img {
  max-width: 42px;
}
#service .service-box .item ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
#service .service-box .item ul li {
  display: flex;
  align-items: start;
  gap: 17px;
}
#service .service-box .item ul li img {
  margin-top: 5px;
}
#service .service-box .item ul li p {
  color: #e6e6e6;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#service .service-box .item ul mark {
  color: #289bde;
  background-color: transparent;
}
#service .service-box .item:hover {
  border-color: #fff;
}
/* service end */
/* missiona&vision start */
#mivision {
  padding: 140px 0;
}
#mivision .mivision-box {
  display: flex;
}
#mivision .mivision-box .txt h2 {
  max-width: 451px;
  color: #071b27;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  padding-bottom: 58px;
}
#mivision .mivision-box .txt .mivi-wraper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#mivision .mivision-box .txt {
  flex-grow: 1;
}
#mivision .mivision-box .txt .mivi-wraper .mivi {
  display: flex;
  gap: 18px;
}
#mivision .mivision-box .txt .mivi-wraper .mivi .mi-icon img {
  max-width: 47px;
}
#mivision .mivision-box .txt .mivi-wraper .mivi .mi-txt h3 {
  color: #071b27;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
}
#mivision .mivision-box .txt .mivi-wraper .mivi .mi-txt p {
  color: #666;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.16px;
  margin-top: 12px;
  max-width: 470px;
}
#mivision .mivision-box .iamge {
  flex-grow: 1;
  position: relative;
  display: flex;
  justify-content: end;
}
#mivision .mivision-box .iamge .serviceimage {
  width: 80%;
  height: 95%;
}
#mivision .mivision-box .iamge .serviceimg2 {
  position: absolute;
  bottom: -10%;
  left: 0;
}
/* missiona&vision end */
/* testimonial start */
#testimonial {
  padding: 0 0 144px;
}
#testimonial .test-box {
  width: 100%;
  margin-top: 58px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: "auto auto auto";
  gap: 24px;
}
#testimonial .test-box .item {
  padding: 17px;
  border-radius: 5px;
  border: 1px solid rgba(102, 102, 102, 0.4);
}
#testimonial .test-box .item .profile {
  display: flex;
  gap: 14px;
  align-items: center;
}
#testimonial .test-box .item .profile .pic {
  border-radius: 50%;
  max-width: 68px;
}
#testimonial .test-box .item .profile .name-rate h4 {
  color: #071b27;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#testimonial .test-box .item .profile .name-rate .rating {
  display: flex;
  margin-top: 4px;
}
#testimonial .test-box .item .text p {
  color: #666;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  max-width: 385px;
  line-height: 27px; /* 180% */
}
#testimonial .test-box .item .text {
  margin-top: 17px;
}

/* testimonial end */
/* join start */
#join {
  padding: 0 0 140px;
}
#join .title-descript {
  display: flex;
}
#join .join-box {
  margin-top: 61px;
  display: flex;
  gap: 85px;
}
#join .join-box .item .joincommunity {
  color: #071b27;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 37px;
  margin-top: 68px;
}
#join .join-box .item .jointxt-wraper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#join .join-box .item .txt-box {
  display: flex;
  gap: 10px;
}
#join .join-box .item .txt-box .right {
  margin-top: 3px;
}
#join .join-box .item .txt-box .text h4 {
  color: #071b27;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#join .join-box .item .txt-box .text p {
  color: #666;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#join .join-btn {
  text-align: center;
  margin-top: 60px;
}
#join .join-btn a {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  background: #289bde;
  padding: 13px 28px;
}
/* join end */
/* contact start */
#contact {
  padding: 0 0 140px;
}
#contact .contact-box {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  align-items: center;
}
#contact .contact-box .txt h3 {
  color: #12141d;
  font-size: 42px;
  font-style: normal;
  max-width: 380px;
  font-weight: 500;
  line-height: 52px; /* 123.81% */
}
#contact .contact-box .txt p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-top: 22px;
  max-width: 445px;
}
#contact .contact-box .txt ul {
  margin-top: 29px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#contact .contact-box .txt ul li a {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #12141d;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
#contact .contact-box .txt p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 21px;
}
#contact .contact-box .txt p strong {
  font-weight: 700;
}
#contact .contact-box .form {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 43px 36px 57px;
}
#contact .contact-box .form h3 {
  color: #12141d;
  text-align: center;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px; /* 125% */
}
#contact .contact-box .form form {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 12px;
}
#contact .contact-box .form form label {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
#contact .contact-box .form form label span {
  color: #12141d;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
#contact .contact-box .form form label input,
#contact .contact-box .form form label textarea {
  border-radius: 5px;
  border: 1px solid #dde1e0;
  padding: 10px 5px;
}
#contact .contact-box .form form button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  padding: 16px 20px;
  background-color: #289bde;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}

/* contact end */
/* footer start */
#footer {
  padding-top: 70px;
  background: #289bde;
  position: relative;
}
#footer .whitebord {
  max-width: 851px;
  padding: 75px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
}
#footer .whitebord h2 {
  color: #071b27;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#footer .whitebord h4 {
  color: #071b27;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 12px;
}
#footer .whitebord p {
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-top: 12px;
  max-width: 544px;
  margin: 0 auto;
}
#footer .whitebord ul {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  gap: 26px;
}
#footer .whitebord ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
}
#footer .whitebord .footbtn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #289bde;
  padding: 20px 55px;
  margin-top: 50px;
  border-radius: 5px;
}
#footer .footnav {
  display: flex;
  justify-content: space-around;
  margin-top: 68px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 21px 0 0;
}
#footer .footnav .footlogo {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#footer .footnav .term {
  display: flex;
  gap: 17px;
}
#footer .footnav .term a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#footer .footnav .social {
  display: flex;
  align-items: center;
}
#footer .copyright {
  margin-top: 27px;
  text-align: center;
  padding-bottom: 78px;
}
#footer .copyright p,
#footer .copyright p a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#footer .footshap{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* footer end */
